@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

.App {
  background-color: white;
}

.header-title { 
  font-family: 'Lobster', cursive;
}


.video-list-text p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}